
/* 코드 블록 좌측 강조선 */
.modal-content .markdown-body pre {
  border-left: 4px solid #f9c51d;
  color: #fff;
  background-color: #2d2f32;
}

/* 인용문 좌측 강조선 */
.modal-content .markdown-body blockquote {
  border-left: 4px solid #f9c51d;
}
